.logo{
    width: 200px;
    box-shadow: 12px 15px 7px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
 
}
header{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.mdma{
    width: 200px;
}
.cocaina{
    width: 200px;
}
.meta{
    width: 200px;
}
.insta{
    width: 50px;
}